<%- include('partials/header'); %>
    <div class="imgCont">
      <img src="/images/<%= program.background_image %>"  alt="Nature" class="coverImg1">
      <div class="centered1"><%= program.title %></div>
    </div>
    <div class="container top-pad1">
        <div class="contain">
            <p class="content4">
                <%= program.description %>
            </p>
            <div class="content4">
                <%= program.details %>
            </div>
            </div>
        </div>
    </div>
    <div class="container">
        <% if(program.img1){ %>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="images/<%= program.img1 %>">
                    <img src="/images/<%= program.img1 %>" alt="Invalid Name" width="600" height="400">
                    </a>
                </div>
            </div>
        <% } %>
        <% if(program.img2){ %>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="images/<%= program.img2 %>">
                    <img src="/images/<%= program.img2 %>" alt="Invalid Name" width="600" height="400">
                    </a>
                </div>
            </div>
        <% } %>
        <% if(program.img3){ %>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="images/<%= program.img3 %>">
                    <img src="/images/<%= program.img3 %>" alt="Invalid Name" width="600" height="400">
                    </a>
                </div>
            </div>
        <% } %>
        <% if(program.img4){ %>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="images/<%= program.img4 %>">
                    <img src="/images/<%= program.img4 %>" alt="Invalid Name" width="600" height="400">
                    </a>
                </div>
            </div>
        <% } %>
    </div>
<%- include('partials/footer'); %>